@import '~lib/colors.less';
@import '~lib/sizing.less';

.ContactList {
  &__noContacts {
    padding: @gutter;
    color: @grey;
    font-family: 'Open Sans';
    font-size: @text-size-2;
    line-height: 1.5;
  }

  &__pendingSearchResults {
    margin-top: 2 * @gutter;
    padding: 5px (24px + @gutter) 5px @gutter;
    font-size: @text-size-2 !important;
    line-height: 1.5 !important;
    color: @grey;
    text-align: center;
  }

  &__resultsTitle {
    padding: 5px (24px + @gutter) 5px @gutter;
    color: @yellow;
    font-family: 'Open Sans';
    font-size: @text-size-3;
    line-height: 1.5;
  }
}
